body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#container {
    margin-bottom: 20px;
}

.dynamic-div {
    background-color: yellow;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9; /* Darker shade */
}